page {
  background: #F2F8F6;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-top: 33%;
    margin-bottom: 38rpx;
    width: 192rpx;
    height: 192rpx;
  }

  .title {
    width: 400rpx;
    height: 60rpx;
  }
}